<% include header %>
<% if(games.length){ %>
    <% games.forEach(function(games){ %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="text-muted pull-right">
            <%= games.published %>            
            </div>
            <%= games.title %>
        </div>
        <div class="panel-body">
            <%= games.body %>
        </div>
    </div>
    <% }) %>
    <% } else { %>
        <h1>My Top 10 Favorite Games</h1>
        <h2>1.)Jak 2 </h2>
        <h2>2.)Kingdom Hearts 2 </h2> 
        <h2>3.)Rachet & Clank: Up Your Arsenal </h2> 
        <h2>4.)Transistor </h2> 
        <h2>5.)Crash Team Racing </h2> 
        <h2>6.)GTA: San Andreas </h2> 
        <h2>7.)Battlefield: Bad Company 2 </h2> 
        <h2>8.)World of Warcraft</h2> 
        <h2>9.)MAG </h2> 
        <h2>10.)Pokemon Diamond and Pearl </h2>
        <p>These games hold a special place in my heart because they shaped who I am.<br>
        A lot of the things I enjoy now and the way I view games is thanks to these games that I played during my childhood.<br>
        I can remember vividly the times I was going through while playing each of these games and how much they helped me grow.<br>
        I also believe that these games are among some of the best ever made and deserve to be played by anyone who calls themselves a gamer.
        Think you know some games that deserve to be on this list? Click the "Add a game?" link to add your own!</p>  
        <a href="/new-entry"> Add a game?</a>
    <% } %>

<% include footer %>